<log4net>
  <!--<root>
    <level value="DEBUG" />
    <appender-ref ref="BufferingForwardingAppenderExt" />
  </root>-->
  <logger name="ExtTextControl">
    <appender-ref ref="BufferingForwardingAppenderExt" />
  </logger>
  
  <logger name="ExtSnapControl">
    <appender-ref ref="BufferingForwardingAppender" />
  </logger>

  <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender">
    <bufferSize value="512" />
    <appender-ref ref="RollingLogFileAppender" />
    <Fix value="0"/>
  </appender>

  <appender name="BufferingForwardingAppenderExt" type="log4net.Appender.BufferingForwardingAppender">
    <bufferSize value="512" />
    <appender-ref ref="RollingLogFileAppenderExt" />
    <Fix value="0"/>
  </appender>

  <appender name="RollingLogFileAppenderExt" type="log4net.Appender.RollingFileAppender">
    <file value="logs\_EditCtrl.log" />
    <datePattern value="dd.MM.yyyy'_EditCtrl.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="20" />
    <maximumFileSize value="10MB" />
    <appendToFile value="false" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{HH:mm:ss,fff} %level - %message%newline" />
    </layout>
  </appender>

  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\_SnapCtrl.log" />
    <datePattern value="dd.MM.yyyy'_SnapCtrl.log'" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="20" />
    <appendToFile value="false" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{HH:mm:ss,fff} %level - %message%newline" />
    </layout>
  </appender>
</log4net>